{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "browser": true,
        "jest": true
    },
    "settings": {
    },
    "rules": {
        "indent": ["error", 4, {"SwitchCase": 1}],
        "arrow-parens": ["error", "as-needed"],
        "import/no-unresolved": [0],
        "import/no-named-as-default": [0],
        "import/no-named-as-default-member": [0],
        "no-throw-literal": [0],
        "@typescript-eslint/no-explicit-any": [0],
        "@typescript-eslint/explicit-module-boundary-types": [0],
        "@typescript-eslint/no-non-null-assertion": [0]
    },
}
