.painter {
    --w: 800;
    --h: 600;
    --padding: 20px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 9999;
    width: calc(var(--w) * 1px);
    height: calc(var(--h) * 1px);
    * {
        box-sizing: border-box;
        user-select: none;
        user-drag: none;
        -webkit-user-drag: none;
    }
    .pitem {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* pitem */
.painter {
    .point,
    .mouse,
    .circle {
        --x: 0;
        --y: 0;
        --r: 6;
        --x-px: calc((var(--x) - var(--r)) * 1px);
        --y-px: calc((var(--y) - var(--r)) * 1px);
        --r-px: calc(var(--r) * 2px);
        width: var(--r-px);
        height: var(--r-px);
        border-radius: 50%;
        transform: translate3d(var(--x-px), var(--y-px), 0);
        border: 1px solid darkgrey;
        font-size: 8px;
        white-space: nowrap;
    }
    .mouse {
        z-index: 999;
        border-color: orange;
    }
    .area {
        --clip-path: initial;
        clip-path: var(--clip-path);
        background: rgba(255, 0, 0, 0.1);
    }
    .line {
        --stroke-width: 1px;
        --stroke-color: rgba(100, 0, 255, 0.1);
        height: var(--stroke-width);
        width: calc(var(--len) * 1px);
        border-radius: calc(var(--stroke-width) * 0.5);
        transform-origin: top left;
        transform: var(--transform) translate3d(0, -50%, 0);
        background: var(--stroke-color);
    }
    .wrapper {
        --clip-path: initial;
        --transform: initial;
        clip-path: var(--clip-path);
        width: 100%;
        height: 100%;
        .content {
            width: calc(50% - var(--ph) * 1px);
            height: calc(100% - var(--pv) * 2px);
            transform: var(--transform);
            transform-origin: top left;
            overflow: auto;
            padding: var(--padding);
            background: white;
            &:empty {
                /* visibility: hidden; */
            }
        }
    }
}

/* shadow */
.painter {
    --dark: rgba(0,0,0,0.4);
    --light: rgba(0,0,0,0.1);
    --blank: transparent;
    --percent: 0;
    .page {
        filter: drop-shadow(0 0 3px var(--light));
        &:has(.content:empty) {
            filter: unset;
        }
        .content {
            &:empty {
                &::after {
                    background: unset !important;
                }
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 40px;
                height: 100%;
                background: green;
            }
        }
    }
    .page.side-a .content {
        &::after {
            right: 0;
            background: linear-gradient(to left, var(--light), var(--blank));
        }
    }
    .page.side-b .content {
        &::after {
            left: 0;
            background: linear-gradient(to right, var(--light), var(--blank));
        }
    }

    .shadow {
        clip-path: var(--clip-path);
        filter: blur(2px);
        opacity: calc(1 - var(--percent) * var(--percent));
        .line {
            --scale-percent: calc(var(--percent) * 0.8 + 0.05);
            --stroke-width: calc(var(--scale-percent) * (var(--w) - var(--pv)) * 1px);
            border-radius: 30px;
            transform: var(--transform) translate3d(-50%, -50%, 0) scaleX(2);
        }
    }
    #shadow-back {
        .line {
            --scale-percent: var(--percent);
            --stroke-color: linear-gradient(0deg,
                var(--blank) 0%,
                var(--light) 50%,
                var(--blank) 100%);
        }
    }
    #shadow-front {
        .line {
            --stroke-color: linear-gradient(0deg,
                var(--blank) 0%,
                var(--dark) 35%, var(--blank) 45%,
                var(--light) 50%,
                var(--blank) 55%, var(--dark) 65%,
                var(--blank) 100%);
        }
    }
}

/* z-index */
.painter {
    #page-prev {
        z-index: 0;
    }
    #page-curr {
        z-index: 1;
    }
    #page-back {
        z-index: 2;
    }
    #page-front {
        z-index: 4;
    }
    #shadow-back {
        z-index: 3;
    }
    #shadow-front {
        z-index: 5;
    }
}

/* vertical */
.painter.vertical {
    .wrapper {
        .content {
            height: calc(50% - var(--ph) * 1px);
            width: calc(100% - var(--pv) * 2px);
        }
    }
    .page {
        .content {
            &::after {
                top: unset;
                bottom: unset;
                left: 0;
                right: unset;
                width: 100%;
                height: 40px;
            }
        }
    }
    .page.side-a .content {
        &::after {
            bottom: 0;
            background: linear-gradient(to top, var(--light), var(--blank));
        }
    }
    .page.side-b .content {
        &::after {
            top: 0;
            background: linear-gradient(to bottom, var(--light), var(--blank));
        }
    }
}
